body{
    background-image:url("imagens/morumbi.jpg");
    background-size: cover;
}

.video{
    display:flex;
    flex-wrap: wrap;
    max-width: 68.75rem;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 35rem;
    height: 19.688rem;
}

.logo img{
    display:flex;
    flex-wrap: wrap;
    max-width: 8.75rem;
    margin: auto;
    justify-content: center;
    align-items: center;
    width:11.25rem ;
}
