body{
    background-image:url("imagens/bggramado.jpg");
    background-size: cover;
    
}

.imagens{
    display:flex;
    flex-wrap: wrap;
    max-width: 68.75rem;
    margin: 2.813rem auto;
    justify-content: space-between;
    align-items: center;
    
}
a img{
    width: 24.019rem;
    height: 13.5rem;
}