body{
    background-image:url("imagens/bggramado.jpg");
    background-size: cover;
    
}

.imagens{
    display:flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 45px auto;
    justify-content: space-between;
    align-items: center;
    
}
a img{
    
    width: 384.3px;
    height: 216px;
}